
/* @custom-media --small-only (width < 768px);
@custom-media --medium-up (width >= 768px); */

@import './breakpoints.css'; 
  
body[location='resume'] {
  section.header {
    text-align: center;
    padding-bottom: 12px;   
    p {
      display: flex;
      gap: 8px;
    }
  }
}

/* section */
section {
  h2 {
    border-bottom: solid 1px rgb(0,0,0); 
    padding: 8px 0px;
    font-size: 16px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 16px;
  }
}

/* .item */

.item {
  /* Andrew has has it as 12px 0px */
  padding: 8px 0px;  
}

/* .item_heading */

.item_heading {
  display: flex; 

  .info, .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .details .duration{
    font-style: italic;
  } 
}


@media (--small-only) {
  body[location='resume'] {
      section.header {
      p {
        flex-direction: column;
        span.bull {display: none;}
      }
    }
    .item_heading {
      flex-direction: column;
      .details {
        flex-direction: row !important;
        justify-content: space-between;
        padding: 12px 0px;
      }
    }
  }
}

@media (--medium-up) {
    body[location='resume'] {
      section.header {
      p {
        flex-direction: row;
        justify-content: center;
        br {display: none;}
      }
    }
    .item_heading {
      flex-direction: row;
      justify-content: space-between;
      .details {
        text-align: right;
      } 
    }
  }
}


